[Unit]
Description=UI for boot time passwords

[Service]
Type=notify
RemainAfterExit=yes
EnvironmentFile=-/var/lib/environment/compositor/*.conf
ExecStartPre=/bin/sleep 5
ExecStartPre=/usr/bin/systemd-ask-password-gui $LIPSTICK_OPTIONS
ExecStartPre=-/system/bin/stop vendor.hwcomposer-2-3
ExecStartPre=-/system/bin/start vendor.hwcomposer-2-3
ExecStart=/bin/echo Ask Password GUI Done
Restart=no

[Install]
RequiredBy=late-mount.target
